<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Management</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.css" rel="stylesheet"/>

    
    <link rel="stylesheet" href="/static/adminstyle.css">
</head>
<body>

    <section id="menu">
        <div class="logo">
            <!-- <img src="/image/signup1.jpg" alt=""> -->
            <h2 style="color: black;">Bookies.Com</h2>
        </div>

        <div class="items">
            <li><i class="fa-solid fa-chart-line"></i></i><a href="#">Dashboard</a></li>
            <li><i class="fa-regular fa-address-card"></i><a href="#">Profile</a></li>
            <li><i class="fa-solid fa-users"></i><a href="{% url 'user_management' %}">Users</a></li>
            <li><i class="fa-brands fa-product-hunt"></i><a href="{% url 'product_management' %}">Products</a></li>
            <li><i class="fa-solid fa-boxes-stacked"></i><a href="{% url 'category_management' %}">Category</a></li>
            <li><i class="fa-solid fa-cart-shopping"></i><a href="{% url 'order_management' %}">Orders</a></li>
            <li><i class="fa-solid fa-image"></i><a href="{% url 'banner_management' %}">Banner Management</a></li>
            <li><i class="fa-solid fa-gifts"></i><a href="{% url 'coupon_management' %}">Coupons</a></li>
        </div>
    </section>
    <section id="interface">
        <div class="navigation">
            <div class="n1">
                <div class="search">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <img src="" alt="">
                    <form action="product_management">
                    <input name="search" type="text" placeholder="Search">
                  </form>
                </div>   
            </div>
            
            <div class="profile">
                <a href="{% url 'admin_logout' %}">Log out</a><i class="fa-solid fa-arrow-right-from-bracket"></i>
            </div>
        </div>
          {% if messages %}
            <ul class="messages">
            {% for message in messages %}
            <li style="list-style-type: none;" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
            </ul>
            <script>
            setTimeout(function() {
            var messages = document.querySelector(".messages");
            messages.style.display = "none";}, 5000);
            </script>
          {% endif %} 
    
        
 <!-- User Details Starts -->
        <div class="col-md-10 offset-md-1 my-2">
            <form action="addproduct">
                <button type="submit" class="btn btn-outline-success btn-rounded   btn-sm" data-mdb-ripple-color="#000000"> Add Product </button>
            </form>
            <div class="card">
              <div class="card-body">
                
                <table class="table table-striped">
                  <h3 class="text-center">Product Details</h3>
                  <thead>
                    <tr>
                      <th>Sl.No.</th>
                      <th>Name</th>
                      <th>Image</th>
                      <th>Price</th>
                      <th>Stock</th>
                      
                    </tr>
                  </thead>
                  <tbody>
                    {% for i in details %}
                      <tr>
                        <td>{{forloop.counter}}</td>
                        <td>{{i.pname}}</td>
                        <td><img width="90px" height="90px" src="{{i.image.url}}" alt="Not available"></td>
                        <td>{{i.price}}</td>
                        <td>{{i.stock}}</td>
                        
                        <td>
                          <a href="{% url 'delete_product' %}?pid={{i.productid}}" class="btn btn-danger md-sm">Delete</a><br>
                          
                       </td>
                       <td><a href="{% url 'update_product' %}?pid={{i.productid}}" class="btn btn-success md-sm">Edit</a></td>   
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>   
<!--User Details Ends  -->
</section>
    <script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.1.0/mdb.min.js"
></script>
    
</body>
</html>