<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkout Page</title>
    <link rel="stylesheet" href="/static/checkout.css">
    <!-- google font link  -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic">


</head>
<body>
    <main class="container">
        <h1 class="heading">
            <ion-icon name="cart-outline"></ion-icon>My Cart
        </h1>

        
<!-- Cart Section -->
            <section class="cart">
                <div class="cart-item-box">
                    <h2 class="section-heading">Cart Items</h2>
                    <div class="product-card">
                        <div class="card">
                            <div class="img-box">
                                <img src="/uploads/products/Atomic-Habits-by-James-Clear.jpg" class="product-img" alt="Atomic habits" width="80px">
                            </div>
                            <div class="detail">
                                <h4 class="product-name">Atomic Habits 111</h4>
                                <div class="wrapper">
                                    <div class="product-qty">
                                        <button id="decrement">
                                            <ion-icon name="remove-outline" ></ion-icon>
                                        </button>
                                        <span id="quantity">1</span>
                                        <button id="increment">
                                            <ion-icon name="add-outline" ></ion-icon>
                                        </button>
                                    </div>

                                    <div class="price">
                                        $ <span id="price">1.25</span>
                                    </div>
                                </div>
                            </div>
                            <button id="product-close-btn">
                                <ion-icon name="close-outline"></ion-icon>
                            </button>

                        </div>
                    </div>

                    <div class="product-card">
                        <div class="card">
                            <div class="img-box">
                                <img src="/uploads/products/Atomic-Habits-by-James-Clear.jpg" class="product-img" alt="Atomic habits" width="80px">
                            </div>
                            <div class="detail">
                                <h4 class="product-name">Atomic Habits 111</h4>
                                <div class="wrapper">
                                    <div class="product-qty">
                                        <button id="decrement">
                                            <ion-icon name="remove-outline" ></ion-icon>
                                        </button>
                                        <span id="quantity">1</span>
                                        <button id="increment">
                                            <ion-icon name="add-outline" ></ion-icon>
                                        </button>
                                    </div>

                                    <div class="price">
                                        $ <span id="price">1.25</span>
                                    </div>
                                </div>
                            </div>
                            <button id="product-close-btn">
                                <ion-icon name="close-outline"></ion-icon>
                            </button>

                        </div>
                    </div>


                </div>


            </section>
        </div>
    </main>

    





<!-- js link -->
    <script src="/static/js/checkout.js"></script>

<!-- ionicon link -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.5.2/ionicons/ionicons.js"></script>
</body>
</html>